Django==1.8
Markdown==2.6.8
MySQL-python==1.2.5
argparse==1.2.1
asn1crypto==0.22.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==1.8.1
-e git://github.com/mvpdev/django-eav.git@ac6dcc80c307f6217a9060d2f26aaec9cbd500fc#egg=django_eav-master
django-filter==1.0.4
django-jfu==2.0.9
django-shell-plus==1.1.7
djangorestframework==3.6.3
enum34==1.1.6
envparse==0.2.0
google-api-python-client==1.3.1
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
oauth2client==1.5.2
packaging==16.8
pyOpenSSL==17.0.0
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
requests==2.18.3
rsa==3.4.2
six==1.10.0
uWSGI==2.0.15
uritemplate==3.0.0
urllib3==1.22
wsgiref==0.1.2
