extends layout

block content
  unless loggedIn
    a(href="/login")
      button() Login
  else
    a(href="/logout")
      button() Logout
  = ' '
  a(href="/secret")
    button() Access Uliza Participants
