doctype html
html
  head
    title= "Uliza API access example app"
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    h3 Instructions
    ol
      li Press the 'Access Uliza Participants' button
      li Press the login button and authenticate.
      li Go back and try the button again.
      li Gaze in awe.
    hr
    block content
